<h1 class="app-title">FlightSearch</h1>
<form [formGroup]="formBookingInformation" (ngSubmit)="onSubmit()">
  <div>
    <mat-button-toggle-group formControlName="inputReturn" (click)="this._toggleClicked();">
      <mat-button-toggle checked value="false">One Way</mat-button-toggle>
      <mat-button-toggle value="true">Return</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Origin</mat-label>
      <input matInput type="text" formControlName="inputOrigin" [matAutocomplete]="inputAutoOrigin">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #inputAutoOrigin="matAutocomplete">
        <mat-option *ngFor="let city of _filteredCitiesOrigin | async" [value]="city">
          {{city}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Destination</mat-label>
      <input matInput type="text" formControlName="inputDestination" [matAutocomplete]="inputAutoDestination">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #inputAutoDestination="matAutocomplete">
        <mat-option *ngFor="let city of _filteredCitiesDestination | async" [value]="city">
          {{city}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="fill">
        <mat-label>Select Departure date</mat-label>
        <input matInput type="text" formControlName="inputDateDeparture" [matDatepicker]="dateDeparture">
        <mat-datepicker-toggle matSuffix [for]="dateDeparture"></mat-datepicker-toggle>
        <mat-datepicker #dateDeparture></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="input-group mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Select Return date</mat-label>
      <input matInput type="text" formControlName="inputDateReturn" [matDatepicker]="dateReturn">
      <mat-datepicker-toggle matSuffix [for]="dateReturn"></mat-datepicker-toggle>
      <mat-datepicker #dateReturn></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <p>Passenger(s): {{formBookingInformation.controls.selectPassengers.value}}</p>
    <mat-slider color="primary" formControlName="selectPassengers"
        [invert]="false"
        [max]="100"
        [min]="1"
        [step]="1"
        [thumbLabel]="true"
        [tickInterval]="1"
        [vertical]="false">
    </mat-slider>
  </div>
  <button type="submit" mat-raised-button color="primary" >Search</button>
</form>