@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

@import '../src/app/sass/variable';
@import '../src/app/sass/mixin';

@import '../src/app/material/material';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-title{
    color: #673ab7;
}