<form [formGroup]="formBookingInformation" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label>Origin</mat-label>
      <input matInput type="text" formControlName="inputOrigin" [matAutocomplete]="inputAutoOrigin">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #inputAutoOrigin="matAutocomplete">
        <mat-option *ngFor="let city of _filteredCitiesOrigin | async" [value]="city">
          {{city}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Destination</mat-label>
      <input matInput type="text" formControlName="inputDestination" [matAutocomplete]="inputAutoDestination">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #inputAutoDestination="matAutocomplete">
        <mat-option *ngFor="let city of _filteredCitiesDestination | async" [value]="city">
          {{city}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="fill">
        <mat-label>Select Departure date</mat-label>
        <input matInput type="text" formControlName="inputDateDeparture" [matDatepicker]="dateDeparture">
        <mat-datepicker-toggle matSuffix [for]="dateDeparture"></mat-datepicker-toggle>
        <mat-datepicker #dateDeparture></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="input-group mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Select Return date</mat-label>
      <input matInput type="text" formControlName="inputDateReturn" [matDatepicker]="dateReturn">
      <mat-datepicker-toggle matSuffix [for]="dateReturn"></mat-datepicker-toggle>
      <mat-datepicker #dateReturn></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Passengers</mat-label>
      <mat-select formControlName="selectPassengers">
        <mat-option *ngFor="let passenger of passengers" [value]="passenger.value">
          {{passenger.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary" >Search</button>
</form>