<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-origin"><i class="fa fa-circle-thin" aria-hidden="true"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Origin" aria-label="Origin" aria-describedby="search-origin">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-destination"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Destination" aria-label="Destination" aria-describedby="search-destination">
</div>
<label for="search-date-departure">Departure</label>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-date-departure"><i class="fa fa-calendar" aria-hidden="true"></i></span>
    </div>
    <input type="date" class="form-control" placeholder="Date" aria-label="Date" aria-describedby="search-date-departure">
</div>
<label for="search-date-return">Return</label>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-date-return"><i class="fa fa-calendar" aria-hidden="true"></i></span>
    </div>
    <input type="date" class="form-control" placeholder="Date" aria-label="Date" aria-describedby="search-date-return">
</div>
<button type="button" class="btn btn-primary">Search</button>